.works-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  margin-bottom: 15px;
}

.works-pagination button {
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  width: 35px;
  height: 35px;
  background-color: transparent;
  color: var(--main-1);
}

.works-pagination button:hover,
.works-pagination-page-num.active {
  background-color: rgba(33, 17, 191, 0.05);
}

.works-pagination-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.works-pagination-btn:first-child {
  margin-right: 14px;
}

.works-pagination-btn:last-child {
  margin-left: 14px;
}

.works-pagination-btn svg {
  width: 17px;
  height: 17px;
}

.works-pagination-btn path {
  stroke: var(--main-1);
}

.works-pagination-page-num {
  font-size: 20px;
}
