.input-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 6px;
}

.input-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border: 2px solid var(--input-border-empty);
  border-radius: 8px;
  max-height: 150px;
  overflow-y: scroll;
}

.input-wrapper-inner {
  position: sticky;
  bottom: 0;
  display: flex;
  flex-grow: 1;
}

.input-wrapper:has(.input:focus) {
  border-color: var(--input-border-focus) !important;
  background-color: unset;
}

.input-wrapper:has(.input:not(:placeholder-shown)),
.select-wrapper-multiple-valid .input-wrapper {
  border-color: var(--input-border-filled);
  background-color: unset;
}

.input-label {
  color: var(--text-4);
  font-size: 14px;
}

.input {
  padding: 10px;
  outline: none;
  font-size: 15px;
  color: var(--input-text-color);
  border: 0;
  border-radius: 8px;
  flex-grow: 1;
}

.input::placeholder {
  color: var(--input-placeholder-color);
}

.select-wrapper .input-wrapper-inner::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto 15px 14px auto;
  width: 12px;
  height: 12px;
  background-image: url("../../assets/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: 0.2s;
}

.select-wrapper:has(.input:focus) .input-wrapper-inner::before {
  rotate: 180deg;
}
