.input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 9px;
}

.input-label {
  color: var(--text-4);
  font-size: 14px;
}

.input {
  padding: 10px;
  outline: none;
  font-size: 15px;
  color: var(--input-text-color);
  background-color: var(--white-grey);
  border: 0;
  border-radius: 8px;
  width: 100%;
}

.input-wrapper {
  border: 2px solid var(--input-border-empty);
  border-radius: 8px;
}

.input-wrapper:has(.input:focus) {
  border-color: var(--input-border-focus) !important;
  background-color: unset;
}

.input-wrapper:has(.input:not(:placeholder-shown)) {
  border-color: var(--input-border-filled);
  background-color: unset;
}

.input::placeholder {
  color: var(--input-placeholder-color);
}

.input-container .select-input-arrow {
  position: absolute;
  inset: 0;
  margin: auto 16px 14px auto;
  width: 12px;
  height: 12px;
  background-image: url("../../assets/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  pointer-events: none;
  transition: 0.2s;
}

.input-container:has(.input:focus) .select-input-arrow {
  rotate: 180deg;
}