.geo-tracker {
  padding: 0 55px;
}

.geo-tracker-header {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.geo-tracker-header .select-wrapper,
.geo-tracker-header .date-time-picker {
  flex-grow: 1;
}

.geo-tracker-map {
  height: calc(100vh - 280px) !important;
}

.geo-tracker-custom-marker {
  background-color: var(--white);
  padding: 1px 3px 2px;
  border-radius: 4px;
  font-size: 10px;
  line-height: 12px;
}

.geo-tracker-custom-marker-grouped {
  font-size: 14px;
  font-weight: 600;
  padding: 8px;
  border-radius: 12px;
}

.geo-tracker-map-container {
  display: flex;
  gap: 20px;
}

.geo-tracker-location-points {
  background-color: var(--white);
  border-radius: 12px;
  padding: 10px;
}

.geo-tracker-location-points-header button {
  padding: 20px;
  border-radius: 8px;
  border: 0;
  background-image: url("../../assets/arrow-pointer-right.svg");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  background-color: var(--white);
  cursor: pointer;
}

.geo-tracker-location-points-header button:hover {
  background-color: var(--white-grey);
}
