.geo-tracker {
  padding: 0 55px;
}

.geo-tracker-header {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.geo-tracker-header .select-wrapper,
.geo-tracker-header .date-time-picker {
  flex-grow: 1;
}

.geo-tracker-map,
.geo-tracker-location-points {
  height: calc(100vh - 280px) !important;
}

.geo-tracker-custom-marker {
  background-color: var(--white);
  padding: 1px 3px 2px;
  border-radius: 4px;
  font-size: 11px;
  line-height: 13px;
}

.geo-tracker-custom-marker-grouped {
  font-size: 14px;
  font-weight: 600;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.geo-tracker-map-container {
  display: flex;
  gap: 20px;
}

.geo-tracker-location-points {
  background-color: var(--white);
  border-radius: 12px;
  padding: 10px;
  transition: max-width 0.2s;
}

.geo-tracker-location-points-header {
  display: flex;
}

.geo-tracker-location-points-header button {
  margin-left: auto;
  padding: 20px;
  border-radius: 8px;
  border: 0;
  background-image: url("../../assets/arrow-pointer-right.svg");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  background-color: var(--white);
  cursor: pointer;
  transition: rotate 0.2s;
}

.geo-tracker-location-points-header button:hover {
  background-color: var(--white-grey);
}

.geo-tracker-location-points-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
  max-height: calc(100% - 40px);
  overflow: auto;
}

.geo-tracker-location-points-list div {
  padding: 2px 6px;
  border-radius: 5px;
  cursor: pointer;
  text-wrap: nowrap;
  min-width: 190px;
}

.geo-tracker-location-points-list div:hover {
  background-color: var(--white-grey);
}
