.user {
  display: flex;
  gap: 20px;
  padding: 10px 14px;
  border-radius: 12px;
}

.user:hover {
  background-color: rgba(237, 235, 255, 1);
}

.user-avatar {
  padding: 6px;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  background-color: rgba(232, 231, 233, 1);
}

.user-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.user-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.user-full-name {
  font-size: 26px;
  font-weight: 500;
  line-height: 32px;
  color: var(--text-1);
  text-decoration: none;
}

.user-full-name:hover {
  text-decoration: underline;
}

.user-role {
  font-size: 20px;
  line-height: 26px;
  color: rgba(88, 88, 88, 1);
}
