.home {
  height: 100%;
}

.home-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 55px;
  gap: 12px;
}

.home-wrapper-inner {
  display: flex;
  align-items: flex-end;
}

.home-table-add-field-btn {
  margin-left: auto;
  font-size: 18px;
  padding: 12px 16px;
}

.home-table-wrapper {
  display: flex;
  width: 100%;
  height: auto;
  overflow: auto;
}

.home-table-wrapper table {
  flex-grow: 1;
  border-collapse: separate;
  border-spacing: 0 14px;
}

.home-table-wrapper table thead {
  position: sticky;
  top: 0;
  z-index: 1;
}

.home-table-wrapper th:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.home-table-wrapper th:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.home-table-wrapper th {
  font-size: 22px;
  font-weight: 600;
  line-height: 26px;
  background-color: var(--main-1);
  color: var(--white);
  padding: 15px 21px;
}

.home-table-wrapper tbody tr {
  position: relative;
  background-color: var(--white);
  font-family: Montserrat, sans-serif;
}

.home-table-wrapper tbody tr::after {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto auto auto 1px;
  width: 8px;
  height: calc(100% + 4px);
  border-top-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.home-table-wrapper tbody td {
  position: relative;
  padding: 15px 20px;
  text-align: center;
  font-size: 20px;
}

.home-table-wrapper tbody td:first-child {
  padding-left: 30px;
}

.home-table-wrapper tbody td::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto -1px auto auto;
  width: 1px;
  height: calc(100% - 30px);
  background-color: #ececec;
}

.home-table-wrapper tbody td:last-child::before {
  content: none;
}

.duty-item-cell-value {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.duty-item-cell-title-text,
.duty-item-cell-value-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 120px;
}

.home-table-wrapper tbody td a {
  color: var(--planned);
}

.home-table-wrapper tbody tr.duty-item-status-started::after {
  background-color: var(--started);
}

.home-table-wrapper tbody tr.duty-item-status-planned::after {
  background-color: var(--planned);
}

.home-table-wrapper tbody tr.duty-item-status-on-way::after {
  background-color: var(--on-way);
}

.home-table-wrapper tbody tr.duty-item-status-finished::after {
  background-color: var(--finished);
}

.home-table-wrapper tbody tr.duty-item-status-stopped::after {
  background-color: var(--stopped);
}

.works-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  margin-bottom: 15px;
}

.works-pagination button {
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  width: 35px;
  height: 35px;
  background-color: transparent;
  color: var(--main-1);
}

.works-pagination button:hover,
.works-pagination-page-num.active {
  background-color: rgba(33, 17, 191, 0.05);
}

.works-pagination-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.works-pagination-btn:first-child {
  margin-right: 14px;
}

.works-pagination-btn:last-child {
  margin-left: 14px;
}

.works-pagination-btn svg {
  width: 17px;
  height: 17px;
}

.works-pagination-btn path {
  stroke: var(--main-1);
}

.works-pagination-page-num {
  font-size: 20px;
}
