.types {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 27px 55px;
}

.types-header {
  position: sticky;
  top: 5px;
  display: flex;
  justify-content: space-between;
  padding: 18px 34px;
  border-radius: 8px;
  background-color: var(--main-1);
}

.types-header h2 {
  line-height: 41px;
  margin: 0;
  font-size: 34px;
  color: var(--white);
}

.types-header button {
  position: relative;
  border: none;
  background-color: transparent;
  padding-left: 40px;
  color: var(--white);
  font-size: 26px;
  cursor: pointer;
}

.types-header button::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto auto auto 0;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: var(--main-2);
  background-image: url('../../assets/add-white.svg');
  background-position: center;
}

.types-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(620px, 1fr));
  gap: 17px;
}

.type-item h2 {
  margin: 10px auto;
}

.type-item a,
.type-item-title {
  font-size: 22px;
  line-height: 26px;
  color: var(--main-2);
  text-decoration: none;
}

.type-item a:hover {
  text-decoration: underline;
}

.delete-modal-btns {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 64px;
}

.delete-modal-btns button {
  font-size: 22px;
  line-height: 26px;
  padding: 22px;
}
