.users {
  display: flex;
  flex-direction: column;
  padding: 45px 55px 20px;
  flex-grow: 1;
}

.users-header {
  display: flex;
  justify-content: space-between;
  padding: 24px 34px;
  background: var(--main-1);
  border-radius: 12px 12px 0 0;
}

.users-header h2 {
  line-height: 41px;
  margin: 0;
  font-size: 34px;
  color: var(--white);
}

.create-user-btn {
  position: relative;
  border: none;
  background-color: transparent;
  padding-left: 40px;
  color: var(--white);
  font-size: 26px;
  cursor: pointer;
}

.create-user-btn::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto auto auto 0;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: var(--main-2);
  background-image: url('../../assets/add-white.svg');
  background-position: center;
}

.users-body {
  display: flex;
  padding: 18px 0;
  background: var(--users-bg);
  flex-grow: 1;
}

.users-list {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-self: stretch;
  padding: 0 34px;
  overflow-y: scroll;
  overscroll-behavior: contain;
}

.users-list-loading::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border: 8px solid var(--purple-1);
  border-right: 8px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    rotate: 360deg
  }
}

.users-list-empty {
  font-weight: 600;
  text-align: center;
  margin: auto;
  opacity: .6;
}

.user {
  display: flex;
  gap: 20px;
  padding: 10px 14px;
  border-radius: 12px;
}

.user:hover {
  background-color: rgba(237, 235, 255, 1);
}

.user-avatar {
  padding: 6px;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  background-color: rgba(232, 231, 233, 1);
}

.user-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.user-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.user-full-name {
  font-size: 26px;
  font-weight: 500;
  line-height: 32px;
  color: var(--text-1);
  text-decoration: none;
}

.user-full-name:hover {
  text-decoration: underline;
}

.user-role {
  font-size: 20px;
  line-height: 26px;
  color: rgba(88, 88, 88, 1);
}
