:root {
  --success: #19c052;
  --error: #d62828;
  --error-hover: #b32222;
  --error-outlined-hover: rgba(214, 40, 40, 0.15);
  --planned: #5270d5;
  --on-way: #a61fff;
  --finished: #19c052;
  --started: #ffb82e;
  --stopped: #d62828;
  --text-1: #1c1b1b;
  --text-2: #2a2a2a;
  --text-3: #565656;
  --text-4: #8a8a8a;
  --main-1: #474a69;
  --main-2: #0d81e1;
  --main-3: #2e9df8;
  --main-4: #0d81e1b2;
  --main-1-hover: #676b97;
  --main-1-outlined-hover: rgba(103, 107, 151, 0.15);
  --main-2-hover: rgba(13, 129, 225, 0.15);
  --white: #ffffff;
  --white-grey: #f6f6f6;
  --white-grey-2: #fcfcfc;
  --purple-1: #5d5fec;
  --purple-2: #3e57a9;
  --input-text-color: #2c2b2b;
  --input-placeholder-color: #bfbfc2;
  --input-border-empty: #e6e6e6;
  --input-border-focus: #858bff;
  --input-border-filled: #55a6e9;
  --select-option-hover: #f1f1f2;
  --checkbox-border: #bdbcdb;
  --checkbox-checked: #605dec;
  --disabled-btn-bg: #e3e3e3;
  --disabled-btn-color: #989898;
  --nav-text: #182d75;
  --nav-text-2: #41445b;
  --nav-text-hover: #003aff;
  --nav-hover: rgba(24, 45, 117, 0.05);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
  font-weight: 400;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--white-grey);
}

.App:has(.admin-header):not(:has(.home)) {
  background-color: var(--white);
}

.page-back {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0;
  margin: auto auto auto -45px;
  width: 35px;
  height: 35px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;
}

body:has(.modal-true) {
  overflow: hidden;
}
