.search-filters {
  display: flex;
  flex-direction: column;
  gap: 6px;
  max-width: 300px;
}

.search-filters:has(.search-filters-block-shown) .search-filters-input,
.search-filters-block-inner,
.search-filters-values {
  box-shadow: 0 0 5px 0 #2c344e33;
}

.search-filters .search-filters-input {
  background-color: var(--white-grey);
  padding: 10px 37px 10px 10px;
  border-radius: 7px;
  border: 0;
  outline: none;
  width: 100%;
  background-image: url('../../assets/search-icon.svg');
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center;
  background-size: 20px;
}

.search-filters .search-filters-input,
.filters-block {
  transition: 0.1s;
}

.search-filters .search-filters-input::placeholder {
  color: var(--text-4);
}

.search-filters:has(.search-filters-block-shown) .search-filters-input {
  background-color: var(--white);
}

.search-filters-block {
  display: none;
}

.search-filters-block-shown {
  display: flex;
}

.search-filters-values {
  padding: 10px;
  border-radius: 7px;
  max-height: 150px;
}

.search-filters-values-inner {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  overflow-y: scroll;
}

.search-filters-value {
  padding: 5px 24px 5px 8px;
  background-color: var(--main-2);
  color: var(--white);
  font-size: 12px;
  border-radius: 8px;
  background-image: url("../../assets/remove-icon-white.svg");
  background-repeat: no-repeat;
  background-size: 8px;
  background-position: calc(100% - 9px) center;
}

.search-filters-block-inner {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 18px 12px;
  background-color: var(--white);
  border-radius: 7px;
  width: 100%;
}

.search-filters-block-title {
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 12px;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 10px;
}

.search-filters-categories {
  position: relative;
  display: flex;
  flex-direction: column;
}

.search-filters-categories button {
  position: relative;
  border: 0;
  background-color: var(--white);
  text-align: left;
  padding: 12px 23px 12px 40px;
  cursor: pointer;
}

.search-filters-categories button:hover,
.search-filters-category-options-inner-options label:hover {
  background-color: var(--select-option-hover);
}

.search-filters-categories button::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto 8px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--main-2);
  background-repeat: no-repeat;
  background-position: center 55%;
  background-size: 60%;
}

.search-filters-categories button:nth-child(1)::before {
  background-image: url('../../assets/filters-executers.svg');
}

.search-filters-categories button:nth-child(2)::before {
  background-image: url('../../assets/filters-resolution.svg');
}

.search-filters-categories button:nth-child(3)::before {
  background-image: url('../../assets/filters-template.svg');
}

.search-filters-categories button:nth-child(4)::before {
  background-image: url('../../assets/filters-state.svg');
}

.search-filters-categories button:nth-child(5)::before {
  background-image: url('../../assets/filters-square.svg');
}

.search-filters-categories button:nth-child(6)::before {
  background-image: url('../../assets/filters-finished.svg');
}

.search-filters-categories button:nth-child(7)::before {
  background-image: url('../../assets/filters-calendar.svg');
}

.search-filters-categories button::after {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto 8px auto auto;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-image: url('../../assets/arrow-right.svg');
  background-repeat: no-repeat;
  background-position: center 55%;
  background-size: 60%;
}

.search-filters-categories-options {
  position: absolute;
  right: calc(-100% + -13px);
  width: 100%;
  max-height: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.search-filters-categories-options-inner {
  box-shadow: 0 4px 20px 0 #2c344e33;
  padding: 10px;
  border-radius: 7px;
  background-color: var(--white);
  width: 100%;
  min-height: 40px;
}

.search-filters-category-options-inner-options {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
}

.search-filters-category-options-inner-options label {
  display: flex;
  align-items: center;
  padding: 10px 5px 10px 10px;
  font-size: 14px;
  gap: 8px;
  user-select: none;
  cursor: pointer;
}

.search-filters-category-options-inner-options input[type='checkbox'] {
  appearance: none;
  border: 2px solid var(--checkbox-border);
  outline: none;
  min-width: 18px;
  height: 18px;
  border-radius: 4px;
  margin: 0;
}

.search-filters-category-options-inner-options input[type='checkbox']:checked {
  background-color: var(--checkbox-checked);
  border-color: var(--checkbox-checked);
  background-image: url('../../assets/checked.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 85%;
}

.search-filters-category-options-inner-options-loading {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 3px solid var(--checkbox-checked);
  border-right: 4px solid transparent;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    rotate: 360deg
  }
}
